<!-- 
<div class="container">
  <h1>Book Form</h1>https://medium.com/codingthesmartway-com-blog/angular-2-forms-tutorial-introduction-8686e0c2cd39
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title">
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" required [(ngModel)]="model.author" name="author">
    </div>
    <div class="form-group">
      <label for="url">URL</label>
      <input type="text" class="form-control" id="url" [(ngModel)]="model.url" name="url">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
   </form>
</div>


-->
 

<div class="container">
  <h1>Book Form</h1>
  <form #bookForm="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input placeholder="Insert the title" type="text" class="form-control" required minlength="5" maxlength="30" id="title" required [(ngModel)]="model.title" name="title" #title="ngModel">
      
      <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
        <div  *ngIf="title.errors.required">
          Book title is required!!
        </div>
        <div *ngIf="title.errors.minlength">
          Title must be at least 5 characters long.
        </div>
        <div [hidden]="!title.errors.maxlength"> <!-- doens't make sense -->
          Title cannot be more than 30 characters long.
        </div>
      </div>

    
      <div class="form-group">
        <label for="author">Author</label>
        <input placeholder="Insert the author" type="text" class="form-control" id="author" required [(ngModel)]="model.author" name="author" #author="ngModel">
        <div *ngIf="author.errors && (author.dirty || author.touched)" class="alert alert-danger">
          <div  *ngIf="author.errors.required">
            Author is required!!
          </div>
        </div>
      </div>
    
      <div class="form-group">
        <label for="url">URL</label>
        <!-- regolar expression validation -->
        <input placeholder="Insert the author" type="text" class="form-control" id="url" required pattern="https?://.+" [(ngModel)]="model.url" name="url" #url="ngModel">
        <div *ngIf="url.errors && (url.dirty || url.touched)" class="alert alert-danger">
          <div [hidden]="!url.errors.required">
            URL is required!
          </div>
          <div [hidden]="!url.errors.pattern">
            Must be a valid URL!
          </div>
        </div>
      </div>

    </div>

     <button type="submit" [disabled]="!bookForm.form.valid" class="btn btn-default">Submit</button>


  </form>
</div>


<hr>
  <div>
   <h2>Model:</h2>
   {{ currentBook }}
  </div>
